* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

@font-face {
  font-family: "Roboto-Regular";
  src: url("./Fonts/Roboto-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto-Bold";
  src: url("./Fonts/Roboto-Bold.ttf") format("truetype");
}
.container {
  width: 100%;
}
.container header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #ffffff;
  box-shadow: 0px 3px 12px rgba(18, 18, 18, 0.06);
  border-radius: 0px;
}
.container header img {
  padding: 36px 0 36px 150px;
}
.container header .content {
  display: flex;
  gap: 20px;
  padding-right: 109px;
}
.container header .content ul {
  display: flex;
  gap: 25px;
  align-items: center;
}
.container header .content ul .link1 {
  font-family: "Roboto-Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #ff5634;
}
.container header .content ul a {
  font-family: "Roboto-Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #121212;
}
.container header .content .btn-1 {
  font-family: "Roboto-Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: #121212;
  padding: 19px 25px;
  background: #ffffff;
  border: 1px solid #ededed;
  box-shadow: 0px 2px 6px rgba(16, 16, 16, 0.04);
  border-radius: 12px;
  cursor: pointer;
}
.container header .content .btn-2 {
  font-family: "Roboto-Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
  background: #ff5634;
  border: 1px solid #ff5634;
  border-radius: 12px;
  padding: 18px 25px;
  border: none;
  cursor: pointer;
}
.container .wrapper1 .wrap1 {
  width: 100%;
  display: flex;
}
.container .wrapper1 .wrap1 .card1 {
  padding-top: 163px;
  padding-left: 150px;
}
.container .wrapper1 .wrap1 .card1 .p1 {
  font-family: "Roboto-regular";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 1.08px;
  text-transform: uppercase;
  color: #ff5634;
}
.container .wrapper1 .wrap1 .card1 .head1 {
  font-family: "Roboto-Bold";
  font-style: normal;
  font-weight: 700;
  font-size: 62px;
  line-height: 72px;
  color: #121212;
  width: 515px;
  margin-top: 28px;
}
.container .wrapper1 .wrap1 .card1 .p2 {
  font-family: "Roboto-regular";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 30px;
  color: #656565;
  width: 574px;
  margin-top: 16px;
}
.container .wrapper1 .wrap1 .card1 .button {
  display: flex;
  gap: 27px;
  margin-top: 33px;
}
.container .wrapper1 .wrap1 .card1 .button .btn-3 {
  font-family: "Roboto-regular";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  padding: 26px 39px;
  border: none;
  background: #ff5634;
  border: 1px solid #ff5634;
  border-radius: 16px;
  cursor: pointer;
}
.container .wrapper1 .wrap1 .card1 .button .btn-4 {
  font-family: "Roboto-regular";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  color: #121212;
  padding: 26px 39px;
  background: #ffffff;
  border: 1px solid #ededed;
  box-shadow: 0px 2px 6px rgba(16, 16, 16, 0.04);
  border-radius: 16px;
  cursor: pointer;
}
.container .wrapper1 .wrap1 .card1 .line {
  background: #cacaca;
  border-radius: 0px;
  height: 1px;
  margin-top: 60px;
}
.container .wrapper1 .wrap1 .card1 .cards1 {
  display: flex;
  gap: 45px;
  margin-top: 60px;
}
.container .wrapper1 .wrap1 .card1 .cards1 .section .head2 {
  font-family: "Roboto-bold";
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 66px;
  color: #121212;
}
.container .wrapper1 .wrap1 .card1 .cards1 .section .head2 span {
  font-family: "Roboto-regular";
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 66px;
  color: #ff5634;
}
.container .wrapper1 .wrap1 .card1 .cards1 .section p {
  font-family: "Roboto-regular";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  color: #656565;
}
.container .wrapper1 .wrap1 .card2 {
  position: relative;
}
.container .wrapper1 .wrap1 .card2 .car2 {
  width: 602px;
  height: 1003px;
  background-image: url(./images/IMAGE1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 400px;
  margin-top: -45px;
}
.container .wrapper1 .wrap1 .card2 .car2 img {
  position: absolute;
  top: 115px;
  right: 400px;
  width: 380px;
}
.container .wrapper1 .card3 .cards2 {
  display: flex;
  gap: 40px;
  justify-content: center;
  padding-top: 119px;
}
.container .wrapper1 .card3 .cards2 p {
  font-family: "Roboto-regular";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 22px;
  text-align: center;
  color: #656565;
}
.container .wrapper1 .card3 .cards3 {
  display: flex;
  gap: 90px;
  align-items: center;
  margin-top: 48px;
  justify-content: center;
}
.container .wrapper1 .card3 .cards3 img {
  width: 300px;
}
.container .wrapper1 .line2 {
  background: #cacaca;
  border-radius: 0px;
  height: 1px;
  margin: 150px 109px 0 109px;
}
.container #wrapper2 {
  width: 100%;
}
.container #wrapper2 .p1 {
  font-family: "Roboto-regular";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 1.08px;
  text-transform: uppercase;
  color: #ff5634;
  margin-top: 199px;
}
.container #wrapper2 h1 {
  font-family: "Roboto-bold";
  font-style: normal;
  font-weight: 700;
  font-size: 44px;
  line-height: 54px;
  text-align: center;
  color: #121212;
  margin-top: 7px;
}
.container #wrapper2 .p2 {
  font-family: "Roboto-regular";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 30px;
  text-align: center;
  color: #656565;
  margin-top: 22px;
}
.container #wrapper2 .card4 {
  display: flex;
  gap: 200px;
  padding-left: 140px;
  margin-top: 100px;
  align-items: center;
}
.container #wrapper2 .card4 .cards4 img {
  padding-left: 70px;
}
.container #wrapper2 .card4 .cards4 h1 {
  font-family: "Roboto-regular";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 40px;
  text-align: center;
  color: #121212;
}
.container #wrapper2 .card4 .cards4 p {
  font-family: "Roboto-regular";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: #656565;
  margin-top: 15px;
}
.container #wrapper2 .card5 {
  margin-top: 53px;
  text-align: center;
  padding-bottom: 200px;
}
.container #wrapper2 .card5 .btn-5 {
  font-family: "Roboto-bold";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  padding: 26px 39px;
  background: #ff5634;
  border: 1px solid #ff5634;
  border-radius: 16px;
  margin-right: 27px;
  cursor: pointer;
}
.container #wrapper2 .card5 .btn-6 {
  font-family: "Roboto-regular";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  color: #121212;
  padding: 26px 39px;
  background: #ffffff;
  border: 1px solid #ededed;
  box-shadow: 0px 2px 6px rgba(16, 16, 16, 0.04);
  border-radius: 16px;
  cursor: pointer;
}
.container #wrapper2 .line {
  background: #cacaca;
  height: 1px;
  margin: 0 109px 0 109px;
}
.container .diliver__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 50px;
  padding-left: 50px;
  margin-bottom: 50px;
  margin-right: 50px;
}
.container .diliver__left {
  max-width: 50%;
}
.container .diliver__titile5 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  color: #121212;
}
.container .diliver__subtitle {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  color: #656565;
}
.container .diliver__item {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.container .diliver__title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 35px;
  margin-bottom: 14px;
  color: #121212;
}
.container .diliver__paragraph {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 24px;
  text-align: center;
  color: #656565;
}
.container .diliver__imgs {
  margin: 35px 0px 25px 0px;
}
.container .diliver__img {
  background-color: forestgreen;
}
.container .diliver__img1 {
  position: absolute;
  z-index: 30;
}
.container .c__left {
  background-color: #121212;
}
.container .burger {
  position: absolute !important;
  top: calc(50% - 366px - 19px);
  height: 732px;
  width: 505px;
}
.container .diliver__right {
  position: relative;
}
.container .phone_box {
  position: absolute;
  width: 280px;
  height: 570px;
  left: 0%;
  right: 0%;
  top: calc(50% - 285px - 0.23px);
  background: url(.png);
  border-radius: 0px;
  left: -115px;
  background-repeat: no-repeat;
  background-image: url(../images/IMAtelefon.jpg);
  background-size: contain;
  z-index: -10;
}
.container .button1 {
  height: 73px;
  width: 247px;
  left: 0px;
  top: 0px;
  border-radius: 16px;
  background: #ff5634;
  border: 1px solid #ff5634;
  border-radius: 16px;
  color: #ffffff;
}
.container .button2 {
  height: 73px;
  width: 247px;
  background: #ffffff;
  border: 1px solid #ededed;
  box-shadow: 0px 2px 6px rgba(16, 16, 16, 0.04);
  border-radius: 16px;
  margin-left: 20px;
}
.container button {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  color: #121212;
}
.container button .button1 {
  color: #ffffff;
}
.container .btns {
  margin-top: 75px;
  margin-bottom: 20px;
  text-align: center;
}
.container .features {
  margin-top: 100px;
  text-align: center;
}
.container .features .features_first {
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 1.08px;
  text-transform: uppercase;
  color: #ff5634;
}
.container .features h1 {
  font-weight: 700;
  font-size: 44px;
  line-height: 54px;
  text-align: center;
  color: #121212;
}
.container .features .features_second {
  font-weight: 400;
  font-size: 12px;
  line-height: 30px;
  text-align: center;
  color: #656565;
}
.container .features .end {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: #656565;
  margin-left: 500px;
}
.container .features ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.container .features ul li {
  width: 550px;
  margin-top: 70px;
}
.container .features ul li h2 {
  font-weight: 400;
  font-size: 28px;
  line-height: 40px;
  text-align: center;
  color: #121212;
}
.container .features ul li p {
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  color: #656565;
}
.container .btn {
  background-color: #fff;
  border: 1px solid;
  padding: 26px 35px;
  box-shadow: 0 0 10px #ff5634;
}
.container .btn:hover {
  background-color: #ff5634;
}
.container .btn:active {
  background-color: rgba(255, 86, 52, 0);
}
.container .red_btn {
  box-shadow: 0 0 10px #ff5634;
  color: #fff;
  background-color: #ff5634;
  padding: 26px 35px;
}
.container .red_btn:hover {
  background-color: rgba(255, 86, 52, 0.8235294118);
}
.container .red_btn:active {
  background-color: rgba(255, 86, 52, 0);
}
.container .page-7 {
  padding: 199px 109px;
}
.container .page-7 .page-7-upper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 50px;
  margin-bottom: 20px;
}
.container .page-7 .page-7-upper h1 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 44px;
  line-height: 54px;
  color: #121212;
}
.container .page-7 .page-7-underupper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container .page-7 .page-7-underupper p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #656565;
}
.container .page-7 .page-7-underupper p b {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #656565;
  margin-left: 280px;
}
.container .page-7 .page-7-underupper div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
.container .page-7 .page-7-underupper div .orange {
  padding: 26px 39px;
  background: #ff5634;
  border: 1px solid #ff5634;
  border-radius: 16px;
  color: #fff;
}
.container .page-7 .page-7-underupper div .white {
  padding: 26px 39px;
  background: #ffffff;
  border: 1px solid #ededed;
  box-shadow: 0px 2px 6px rgba(16, 16, 16, 0.04);
  border-radius: 16px;
}
.container .page-7 .page-7-lower {
  margin-top: 71px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 28px;
}
.container .page-7 .page-7-lower .card {
  background: #ffffff;
  border: 1px solid #ededed;
  box-shadow: 0px 2px 12px rgba(16, 16, 16, 0.08);
  border-radius: 24px;
  display: flex;
  gap: 50px;
  flex-direction: column;
  width: 390px;
  padding: 38px 31px;
}
.container .page-7 .page-7-lower .card .card-image {
  display: flex;
  align-items: center;
  justify-content: center;
}
.container .page-7 .page-7-lower .card .card-image .card-portrait {
  display: flex;
  align-items: center;
  gap: 100px;
}
.container .page-7 .page-7-lower .card .card-image .card-portrait .main-name {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.container .page-7 .page-7-lower .card .card-image .card-portrait .main-name .name p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #ff5634;
}
.container .page-7 .page-7-lower .card .card-image .card-portrait .main-name .name span {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  color: #121212;
}
.container .page-7 .page-7-lower .card .card-image .card-portrait .icon {
  background: #eef8ff;
  border-radius: 8px;
  padding: 10px 12px;
  color: #eef8ff;
}
.container .page-7 .page-7-lower .card .card-text p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #656565;
}
.container .page-7 .page-7-lower .card .card-text p sup {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 30px;
  color: #656565;
  margin-left: 20px;
}
.container .right-8 {
  display: flex;
  position: absolute;
  top: 7750px;
  left: 800px;
  z-index: 991;
}
.container .right-8 .left-phone {
  background-image: url(/images/Phone1.png);
  height: 712px;
  width: 500px;
  background-clip: border-box;
  background-size: cover;
  background-position: center;
  right: 550px;
  z-index: 1100;
}
.container .right-8 .right-phone {
  background-image: url(/images/Phone2.png);
  height: 712px;
  width: 500px;
  background-size: cover;
  background-position: center;
  position: absolute;
  right: -320px;
  top: -10px;
  z-index: 10;
}
.container .page-8 {
  display: flex;
  position: relative;
  justify-content: flex-start;
  align-items: center;
  background-color: #121212;
  gap: 200px;
  padding-top: 180px;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 180px;
}
.container .page-8 .left-8 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: start;
  gap: 40px;
}
.container .page-8 .left-8 span {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 66px;
  line-height: 66px;
  color: #ffffff;
}
.container .page-8 .left-8 span b {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 66px;
  line-height: 66px;
  color: #ffffff;
}
.container .page-8 .left-8 p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #ffffff;
}
.container .page-8 .left-8 .orange {
  padding: 26px 39px;
  background-color: #ff5634;
  border: 1px solid #ff5634;
  border-radius: 16px;
  color: #fafafa;
}
.container .page-9 {
  padding-top: 90px;
  padding-left: 109px;
  padding-right: 109px;
  padding-bottom: 78px;
}
.container .page-9 .page-9-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 78px;
  border-bottom: 1px solid #cacaca;
}
.container .page-9 .page-9-text .right-9 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
.container .page-9 .page-9-text p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #656565;
}
.container .page-9 .page-9-text .orange {
  padding: 22px 35px;
  background: #ff5634;
  border: 1px solid #ff5634;
  border-radius: 14px;
  color: #fafafa;
}
.container footer {
  border-bottom: 2px solid #ededed;
  display: flex;
  gap: 135px;
  padding-left: 109px;
  padding-top: 100px;
  padding-right: 109px;
  padding-bottom: 204px;
}
.container footer .left-end {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.container footer .left-end span {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 22px;
  color: #121212;
}
.container footer .left-end .left-footer {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 70px;
  width: 400px;
}
.container footer .left-end .left-footer div {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 17px;
}
.container footer .left-end .left-footer div a {
  color: #656565;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 22px;
}
.container footer .mid-footer {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-content: center;
  gap: 40px;
}
.container footer .mid-footer div {
  display: flex;
  flex-direction: column;
  gap: 17px;
  align-items: flex-start;
}
.container footer .mid-footer div a {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 20px;
  color: #656565;
}
.container footer .mid-footer span {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 22px;
  color: #121212;
}
.container footer .right-footer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 40px;
}
.container footer .right-footer span {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 22px;
  color: #121212;
  margin-bottom: 42px;
  margin-left: 40px;
}
.container footer .right-footer .footer-card-list {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}
.container footer .right-footer .footer-card-list .footer-card {
  align-items: center;
  justify-content: flex-start;
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  gap: 20px;
}
.container footer .right-footer .footer-card-list .footer-card p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #121212;
}
.container .underline {
  text-align: center;
}
.container .underline span {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: #656565;
}
.container .underline span b {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: #ff5634;
}
.container .food {
  margin-top: 400px;
}
.container .food .food_top {
  display: flex;
  justify-content: space-between;
}
.container .food .food_top .food_top_left {
  background-color: #ff5634;
  width: 598px;
  height: 689px;
  position: relative;
  border-radius: 30px;
}
.container .food .food_top .food_top_left .food_yandexmap {
  position: absolute;
  top: 70px;
  left: 60px;
}
.container .food .food_top .food_top_left .food_boy {
  position: absolute;
  top: 224px;
  left: 197px;
  z-index: 1;
}
.container .food .food_top .food_top_right {
  margin-left: 55px;
}
.container .food .food_top .food_top_right h2 {
  font-weight: 700;
  font-size: 44px;
  line-height: 54px;
  color: #121212;
  width: 480px;
  margin-top: 200px;
}
.container .food .food_top .food_top_right p {
  width: 545px;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #656565;
  margin-top: 10px;
}
.container .food .food_top .food_top_right .iphone {
  display: flex;
  margin-top: 33px;
}
.container .food .food_top .food_top_right .iphone div p {
  margin-top: 14px;
}
.container .food .food_bottom {
  display: flex;
  justify-content: space-around;
  margin-top: 200px;
}
.container .food .food_bottom .food_bottom_left .text {
  margin-top: 200px;
}
.container .food .food_bottom .food_bottom_left h2 {
  font-weight: 400;
  font-size: 44px;
  line-height: 54px;
  color: #121212;
}
.container .food .food_bottom .food_bottom_left .tect {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  margin-top: 16px;
  width: 545px;
  color: #656565;
}
.container .food .food_bottom .food_bottom_left .text2 {
  font-weight: 400;
  font-size: 22px;
  line-height: 30px;
  transform: translate(200px, -35px);
  color: #656565;
}
.container .food .food_bottom .food_bottom_left .food_salephone {
  display: flex;
  margin-top: 30px;
}
.container .food .food_bottom .food_bottom_left .food_salephone h3 {
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  color: #121212;
}
.container .food .food_bottom .food_bottom_left .food_salephone .item {
  font-weight: 400;
  font-size: 13px;
  line-height: 30px;
  color: #656565;
  transform: translateY(14px);
}
.container .food .food_bottom .food_bottom_left .food_salephone .item_content {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #656565;
  transform: translateX(150px);
}
.container .food .food_bottom .food_bottom_right {
  background-color: #ff5634;
  width: 598px;
  height: 689px;
  position: relative;
  border-radius: 30px;
}
.container .food .food_bottom .food_bottom_right .food_buy {
  position: absolute;
  top: 70px;
  right: 60px;
}
.container .food .food_bottom .food_bottom_right .food_burger {
  position: absolute;
  top: 229px;
  left: 60px;
  z-index: 1;
}
.container .btn {
  background-color: #fff;
  border: 1px solid #ededed;
  border-radius: 10px;
  padding: 26px 35px;
  box-shadow: 0 0 5px #ff5634;
}
.container .btn:hover {
  background-color: #ff5634;
  color: #fff;
}
.container .btn:active {
  background-color: rgba(255, 86, 52, 0);
  color: aqua;
}/*# sourceMappingURL=style.css.map */